#modal {
  position: fixed;
  top: 0;
  right: 200px;
  left: 200px;
  top: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.93);
}

#modal-content {
  position: absolute;
  background-color: white;
  height: 500px;
  width: 425px;
}
