#gradient-boxs {
  /* background-color: gray; */
  background-image: linear-gradient(
    to bottom left,
    rgb(61, 54, 53),
    rgba(58, 56, 48, 0.463)
  );
  padding: 20px;
  width: 70%;
  margin: auto;
  /* margin: auto; */
  /* width: 70%; */
  /* padding: 25px 40px 25px 0; */
  display: flex;
  justify-content: space-between;
}

#album-imgs {
  width: 400px;
  height: 400px;
  margin: 0 0 0 0;
}

#circles {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  display: flex;
  line-height: 12px;
}

#album-titres {
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 5px;
  margin-bottom: 10px;
}

#album-descriptions {
  background-color: black;
  color: lightgray;
  margin-top: 10px;
  padding: 5px;
}

#left-playlist {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-3s {
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  /* margin-left: 265px; */
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  color: darkslategray;
  border-radius: 3px;
  /* margin-left: 0; */
}

#discover-hrs {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  border-width: 0;
  background-color: rgba(211, 211, 211, 0.4);
  /* margin-left: 265px; */
}

#discover-hrss {
  margin-top: 10px;
  /* margin-left: 225px; */
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  border-width: 0;
  background-color: rgba(211, 211, 211, 0.4);
}

#for-screens {
  width: 70%;
  margin: auto;
}

.remove-indent {
  padding-left: 0;
  list-style: none;
}

#playlist-banner {
  width: 100%;
  position: relative;
}

#playlist-user-img {
  position: absolute;
  border-radius: 55%;
  top: 52%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 200px;
}

#my-playlists {
  background-color: black;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 1%;
  left: 30%;
  padding: 5px;
}

#playlist-user {
  background-color: black;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 5px;
}

.add-playlist-btn {
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin-left: 1082px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  color: darkslategray;
  border-radius: 3px;
  /* margin-left: 0; */
}
