.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  /* background-color: gray;
  margin: 0 0 0 0;
  padding: 0 0 0 0; */
}

.logo {
  width: 200px;
  vertical-align: middle;
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: orange;
}

/* nav {
  width: 100%;
  background-color: darkgreen;
  padding-left: 30px;
  padding-right: 30px;
} */

/* *,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} */

/* .btn {
  text-align: center;
  display: inline-block;
  padding: 5px 40px;
  border: 1px solid rgb(255, 94, 0);
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  background-color: rgb(255, 94, 0);
  color: white;
  border-radius: 3px;
} */

.btn-1 {
  text-align: center;
  display: inline-block;
  padding: 5px 40px;
  border: 1px solid black;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
}
